@import "variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply leading-[48px];
    @apply font-bold;
  }
  h2 {
    @apply text-2xl;
    @apply font-semibold;
  }
  h3 {
    @apply text-lg;
    @apply leading-6;
    @apply font-semibold;
  }
  h4 {
    @apply text-sm;
    @apply leading-6;
    @apply font-semibold;
  }
  h5 {
    @apply text-xs;
    @apply font-semibold;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

body.miyuu-light {
  background-color: $gray-50;
  color: $black-80;
}

body.miyuu-dark {
  background-color: $gray-900;
  color: $white-90;
}
