// Black with transparency
$black-3: rgba(0, 0, 0, 0.03);
$black-5: rgba(0, 0, 0, 0.05);
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$black-70: rgba(0, 0, 0, 0.7);
$black-80: rgba(0, 0, 0, 0.8);
$black-90: rgba(0, 0, 0, 0.9);
$black-100: rgba(0, 0, 0, 1);

// White with transparency
$white-5: rgba(255, 255, 255, 0.05);
$white-10: rgba(255, 255, 255, 0.1);
$white-15: rgba(255, 255, 255, 0.15);
$white-20: rgba(255, 255, 255, 0.2);
$white-25: rgba(255, 255, 255, 0.25);
$white-30: rgba(255, 255, 255, 0.3);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-60: rgba(255, 255, 255, 0.6);
$white-70: rgba(255, 255, 255, 0.7);
$white-80: rgba(255, 255, 255, 0.8);
$white-90: rgba(255, 255, 255, 0.9);
$white-100: rgba(255, 255, 255, 1);

$gray-950: #030712;
$gray-900: #111827;
$gray-800: #1f2937;
$gray-700: #374151;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d5db;
$gray-200: #e5e7eb;
$gray-100: #f3f4f6;
$gray-50: #f9fafb;

$green-950: #052e16;
$green-900: #14532d;
$green-800: #166534;
$green-700: #15803d;
$green-600: #16a34a;
$green-500: #22c55e;
$green-400: #4ade80;
$green-300: #86efac;
$green-200: #bbf7d0;
$green-100: #dcfce7;
$green-50: #f0fdf4;

$amber-950: #451a03;
$amber-900: #78350f;
$amber-800: #92400e;
$amber-700: #b45309;
$amber-600: #d97706;
$amber-500: #f59e0b;
$amber-400: #fbbf24;
$amber-300: #fcd34d;
$amber-200: #fde68a;
$amber-100: #fef3c7;
$amber-50: #fffbeb;

$red-950: #450a0a;
$red-900: #7f1d1d;
$red-800: #991b1b;
$red-700: #b91c1c;
$red-600: #dc2626;
$red-500: #ef4444;
$red-400: #f87171;
$red-300: #fca5a5;
$red-200: #fecaca;
$red-100: #fee2e2;
$red-50: #fef2f2;

$blue-950: #172554;
$blue-900: #1e3a8a;
$blue-800: #1e40af;
$blue-700: #1d4ed8;
$blue-600: #2563eb;
$blue-500: #3b82f6;
$blue-400: #60a5fa;
$blue-300: #93c5fd;
$blue-200: #bfdbfe;
$blue-100: #dbeafe;
$blue-50: #eff6ff;

$teal-950: #042f2e;
$teal-900: #134e4a;
$teal-800: #115e59;
$teal-700: #0f766e;
$teal-600: #0d9488;
$teal-500: #14b8a6;
$teal-400: #2dd4bf;
$teal-300: #5eead4;
$teal-200: #99f6e4;
$teal-100: #ccfbf1;
$teal-50: #f0fdfa;

$violet-950: #2e1065;
$violet-900: #4c1d95;
$violet-800: #5b21b6;
$violet-700: #6d28d9;
$violet-600: #7c3aed;
$violet-500: #8b5cf6;
$violet-400: #a78bfa;
$violet-300: #c4b5fd;
$violet-200: #ddd6fe;
$violet-100: #ede9fe;
$violet-50: #f5f3ff;
